<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL | HOME</title>
    <!--{% load static %}-->
    <!--<link rel="stylesheet" href="{% static 'bulma.css' %}">-->
</head>

    <frameset cols = "20%, *">
        <frame name="matches" noresize="noresize" src="">
        <frameset rows = "50%,50%">
            <frame name="Teams" noresize="noresize" src="http://127.0.0.1:8000/tm/">
            <frame name="Points" noresize="noresize">
        </frameset>
    </frameset>

<body>

</body>
</html>