<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        img{
            width : 110px;
        }
    </style>
</head>
<body>
    <a href="http://127.0.0.1:8000/TeamStats/Mumbai Indians/2019/"><img src="/static/logos/Mumbai Indians.png"></a>
    <img src="/static/logos/Chennai Super Kings.png" alt="">
    <img src="/static/logos/Deccan Chargers.png" alt="">
    <img src="/static/logos/Delhi Daredevils.png" alt="">
    <img src="/static/logos/Kings XI Punjab.png" alt="">
    <img src="/static/logos/Kolkata Knight Riders.png" alt="">
    <img src="/static/logos/Royal Challengers Bangalore.png" alt="">
    <img src="/static/logos/Sunrisers Hyderabad.png" alt="">

</body>
</html>